.link {
  color: white;
  background: linear-gradient(to bottom, #333 0%, #111 100%);
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  padding: 5px 20px;
}
.link:hover {
  background: linear-gradient(to bottom, #ff009d 0%, #9900ff 100%);
}
/* home - section one */
.section-one {
  background-image: url(/assets/images/section-one-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-one-title {
  font-size: 2.5rem;
  color: rgb(255, 251, 0);
}

.section-one-text {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
}

/* home - section two */
.section-two {
  background-color: rgb(164, 180, 189);
}

/* points of interest */
.points-of-interest {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}